# Default values for checkout.
replicaCount: 1

image:
  # Using the public AWS ECR repository to ensure accessibility
  repository: public.ecr.aws/aws-containers/retail-store-checkout
  pullPolicy: IfNotPresent
  tag: "824dc91"

# Set to empty brackets to stop Kubernetes from searching for the missing 'regcred' secret
imagePullSecrets: []

nameOverride: ''
fullnameOverride: ''

serviceAccount:
  create: true
  annotations: {}
  name: ''

podAnnotations: {}

podSecurityContext:
  fsGroup: 1000

securityContext:
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 1000

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 128m
    memory: 256Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

nodeSelector: {}
tolerations: []
affinity: {}
topologySpreadConstraints: []

metrics:
  enabled: true
  podAnnotations:
    prometheus.io/scrape: 'true'
    prometheus.io/port: '8080'
    prometheus.io/path: '/metrics'

configMap:
  create: true
  name:

app:
  # Persistence is set to in-memory to bypass external Redis requirements
  persistence:
    provider: 'in-memory'
    redis:
      endpoint: ''
  endpoints:
    orders: http://retail-store-orders:80

# Redis sub-chart is disabled as we are using in-memory mode
redis:
  create: false

securityGroups:
  create: false
  securityGroupIds: []

opentelemetry:
  enabled: false
  instrumentation: ''

podDisruptionBudget:
  enabled: false
  minAvailable: 2
  maxUnavailable: 1